html {
    scroll-behavior: smooth;
}

body {
    background-color: #c0f7f7;
    color: #02515f;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    cursor: default;
    overflow-x: hidden;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    max-width: 30px;
}

::-webkit-scrollbar-track {
    background-color: #a3e9e9;
}

::-webkit-scrollbar-thumb {
    background-color: #59a7a7;
    border-radius: 50px;
    box-shadow: inset 3px 3px 3px #00000049;
}

::-webkit-scrollbar-thumb:active {
    box-shadow: inset 4px 4px 7px #00000049;
}

.header {
    position: relative;
    padding: 50px;
    margin: 50px auto;
    margin-top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    background-color: #12cfcf;
    background-image: radial-gradient(farthest-side at 50% 50%, #02515f -50%, transparent 100%);
    text-transform: uppercase;
    user-select: none;
    white-space: nowrap;
}

.header p {
    color: white;
    font-size: 80px;
    text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px #0000001a,
               0 0 5px #0000001a,
               0 1px 3px #0000004d,
               0 3px 5px #00000033,
               0 5px 10px #00000040,
               0 10px 10px #00000033,
               0 20px 20px #00000026;
}

.petofi {
    position: absolute;
    z-index: 10;
    right: 30px;
    top: 20px;
    user-select: none;
    width: auto;
    cursor: pointer;
    animation-name: rainbowAN;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

@media screen and (max-width: 1100px) {
    .petofi {
        display: none;
    }
}

@keyframes rainbowAN {
    0% {
        filter: hue-rotate(0deg);
    }

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(-1px, 0, 0);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.navbar {
    position: relative;
    left: -60px;
}

.nav-item {
    position: static;
    list-style-type: none;
    margin: 15px;
    height: 0px;
    width: 275px;
    margin-left: 0px;
    background-color: transparent;
    border-top: 25px solid #0fc2c2;
    border-bottom: 25px solid #0dacaf;
    border-right: 25px solid transparent;
    color: white;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    transition: .7s;
    text-shadow: 3px 3px 6px #00000050;
}

.nav-item a {
    position: relative;
    text-decoration: none;
    color: white;
    transition: .7s;
    user-select: none;
    top: -10px;
    left: 40px;
    white-space: nowrap;
}

.oldal {
    position: absolute;
    width: 72%;
    height: auto;
    z-index: 5;
    /* visibility: hidden; */
    left: -72.2%;
    top: -10px;
    /* background-color: #7ce5ff; */
    background-color: #ffde8a;
    transition: .7s;
    padding: 25px;
    cursor: default;
}

.oldal ul {
    list-style-type: disc;
}

.oldal ul ul {
    list-style-type: circle;
}

.oldal ul ul ul {
    list-style-type: square;
}

.oldal li {
    color: #5e4c31;
}

.nav-item:hover {
    margin-left: 10px;
    transition: .2s;
}

.nav-item:hover .oldal {
    left: -70.7%;
    transition: .2s;
    box-shadow: 1px 1px 10px 2px #0000001e;
}

.nav-item:hover a {
    left: 50px;
    transition: .2s;
}

.nav-item.active {
    width: 105%;
}

.nav-item.active a {
    margin-left: 75%;
}

.nav-item.active .oldal {
    left: 30px;
    box-shadow: 1px 1px 10px 2px #0000001e;
}

.credit {
    font-size: 30px;
    color: white;
    text-transform: capitalize;
    text-shadow: 3px 3px 8px #00000080;
}

.back-to-the-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 100;
    width: 70px;
    height: 70px;
    color: #032330;
    background-color: #0fc2c2;
    border: 7px solid #0fc2c2;
    border-radius: 100px;
    text-align: center;
    font-size: 65px;
    transition: 1s;
    opacity: .9;
 
    box-shadow: 0px 10px 0px #0dacaf;
 }
 
 .back-to-the-top:hover {
    transition: .1s;
    opacity: .8;
 }
 
 .back-to-the-top:active {
    transition: .05s;
    bottom: 44px;
    box-shadow: 0px 4px 0px #0dacaf;
 }
 