body {
    background-color: #c0f7f7;
    color: #02515f;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    cursor: default;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    max-width: 30px;
}

::-webkit-scrollbar-track {
    background-color: #a3e9e9;
}

::-webkit-scrollbar-thumb {
    background-color: #59a7a7;
    border-radius: 50px;
    box-shadow: inset 3px 3px 3px #00000049;
}

::-webkit-scrollbar-thumb:active {
    box-shadow: inset 4px 4px 7px #00000049;
}

.header {
    position: relative;
    padding: 50px;
    margin: 50px auto;
    margin-top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    background-color: #12cfcf;
}

.petofi {
    position: absolute;
    z-index: 10;
    right: 30px;
    top: 20px;
    width: auto;
    cursor: pointer;
    animation-name: rainbowAN;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

@keyframes rainbowAN {
    0% {
        filter: hue-rotate(0deg);
    }
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(-1px, 0, 0);
      }
    100% {
        filter: hue-rotate(360deg);
    }
}

.navbar {
    position: relative;
    left: -60px;
}

.nav-item {
    position: static;
    list-style-type: none;
    margin: 15px;
    height: 0px;
    width: 250px;
    background-color: transparent;
    border-top: 25px solid #0fc2c2;
    border-bottom: 25px solid #0eb6b9;
    border-right: 25px solid transparent;
    color: white;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    transition: .7s;
}

.nav-item p {
    margin: auto;
    margin-left: 20px;
    margin-top: -10px;
    transition: .7s;
}

.oldal {
    position: absolute;
    width: 0%;
    height: auto;
    z-index: 5;
    visibility: hidden;
    left: 0;
    top: -10px;
    background-color: #7ce5ff;
    transition: 0.3s;
}

.nav-item:hover {
    width: 275px;
    transition: .2s;
}
.nav-item:hover p {
    margin-left: 45px;
    transition: .2s;
}

.nav-item.active .oldal:nth-child(1) {
    width: 80%;
    visibility: visible;
}